@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=fallback");

.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}

form {
  border: 12px dashed #00ff00;
}

.fieldContainer {
  border: 6px dotted lightcoral;
}

.labelContainer {
  background-color: aquamarine;
}

