@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=fallback");

.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}




.introTop {
  min-height: 40vh;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(rgba(255, 0, 0, 0.9) 0%, rgba(255, 0, 0, 0) 0%);
}

.introTop.darken {
  background: linear-gradient(rgba(255, 0, 0, 0.9) 0%, rgba(255, 0, 0, 0) 100%);
}

.introBottom {
  padding-top: 120px;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: right;
  background: linear-gradient(rgba(0, 255, 0, 0) 0%, rgba(0, 255, 0, 0.75) 80%);
}

.introBottom.instagram {
  padding-bottom: 90px;
}

.introTerms {
  font-size: 12px;
  margin: 24px 24px 2px 24px;
  padding: 0;
  font-family: "Permanent Marker";
  font-weight: 400;
  color: #ffffff;
  pointer-events: auto;
}

.introTerms a {
  color: #66aaff;
  text-decoration: double;
}

.introHostName {
  padding: 0;
  margin: 1rem 2rem;
  font-family: "Permanent Marker";
  font-weight: 400;
  color: red;
  text-shadow: 1px 1px 3px #00000077;
  font-size: 1.2rem;
}

.introTitle {
  padding: 0;
  margin: 0 2rem;
  font-size: 2.3rem;
  line-height: 1.4;
  font-family: "Permanent Marker";
  font-weight: 800;
  color: goldenrod;
  text-shadow: 1px 1px 3px #00000077;
}

