/* @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=fallback"); */

.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}

#nameScreen .marvel {
  border: 12px dashed goldenrod;
  color: silver;
  font-weight: 400;
  border-radius: 0;
}
